<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />

	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="css/colors.php?color=F9BE79" type="text/css" />

	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<!-- Forum Demo Specific Stylesheet -->
	<link rel="stylesheet" href="demos/forum/forum.css" type="text/css" /> <!-- Forum Custom Css -->
	<link rel="stylesheet" href="demos/forum/css/fonts.css" type="text/css" /> <!-- Forum Custom Fonts -->
	<!-- / -->

	<!-- Document Title
	============================================= -->
	<title>Dropping Jewels</title>

</head>

<body class="stretched search-overlay">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix"></div>


		<!-- Header
		============================================= -->
		<header id="header" class="full-header header-size-md" data-mobile-sticky="true">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						 <div id="logo"> 
							<a href="demo-forum.html" class="standard-logo"><img src="https://c8.alamy.com/comp/R1R19T/diamond-vector-icon-isolated-on-transparent-background-diamond-transparency-logo-concept-R1R19T.jpg" alt="Canvas Logo"></a>
							<a href="demo-forum.html" class="retina-logo"><img src="demos/forum/images/canvasforum@2x.png" alt="Canvas Logo"></a>
						</div>	 
					

						<div class="header-misc ms-0">

							<!-- Top Search
							============================================= -->
						

							<!-- Top Account
							============================================= -->
							 <!-- <div class="header-misc-icon">
								<a href="#" id="notifylink" data-bs-toggle="dropdown" data-bs-offset="0,15" aria-haspopup="true" aria-expanded="false" data-offset="12,12"><i class="icon-line-bell notification-badge"></i></a>
								
							</div>  -->

							<!-- Top Account
							============================================= -->
							<div class="header-misc-icon profile-image">
								<a href="#" id="profilelink" data-bs-toggle="dropdown" data-bs-offset="0,15" aria-haspopup="true" aria-expanded="false" data-offset="12,12"><img class="rounded-circle" src="" alt="User"></a>
								<div class="dropdown-menu dropdown-menu-end py-0 m-0" aria-labelledby="profilelink">
									<a class="dropdown-item" href="edit"><i class="icon-line-edit me-2"></i>Edit Profile</a>
									
									<a class="dropdown-item" href="/logout"><i class="icon-line-log-out me-2"></i>Sign Out</a>
								</div>
							</div>

						</div>

						<div id="primary-menu-trigger">
							<svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
						</div>

						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu">

							<ul class="menu-container">
								<li class="menu-item current"><a class="menu-link" href="home"><div>Home</div></a></li>
								<li class="menu-item"><a class="menu-link" href="demo-forum-single.html"><div>Community Resources</div></a></li>
								
								<li class="menu-item"><a class="menu-link" href="profile"><div>Profile</div></a></li>
								<li class="menu-item"><a class="menu-link" href="demo-forum-search-result.html"><div>Search For A Mentor</div></a></li>
								<li class="menu-item current"><a class="menu-link" href="/chat"><div>Join Chat</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

						<!-- <form class="top-search-form bg-alt dark" action="search.html" method="get">
							<div class="container row justify-content-center">
								<div class="col-sm-8">
									<input type="text" name="q" class="form-control form-control-lg mb-5 border-color" value="" placeholder="Type Your Query &amp; Hit Enter.." autocomplete="off">
									<div class="row col-mb-30">
										<div class="col-md-6">
											<div class="widget widget_links clearfix">
												<h4 class="">Recent Topics</h4>
												<ul>
													<li><a href="demo-forum-single.html">Package Generator – Approx time for a file</a></li>
													<li><a href="demo-forum-single.html">Open sub-menu touching menu-item name</a></li>
													<li><a href="demo-forum-single.html">Portfolio Overlay Slide fadein fadeout</a></li>
													<li><a href="demo-forum-single.html">Show menu .dropdown-menu down only</a></li>
													<li><a href="demo-forum-single.html">Couldnt Generate Package Snippet</a></li>
												</ul>
											</div>
										</div>

										<div class="col-md-6">
											<div class="widget widget_links clearfix">
												<h4 class="">Helpful Documentation</h4>
												<ul>
													<li><a href="demo-forum-single.html">How to Install</a></li>
													<li><a href="demo-forum-single.html">How to setup Niche Demos</a></li>
													<li><a href="demo-forum-single.html">Header Layouts and Styles</a></li>
													<li><a href="demo-forum-single.html">Setup Forms</a></li>
													<li><a href="demo-forum-single.html">Setup RTL</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form> -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->
	
		<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color">
			<div class="container">
				<div class="row h-100">
					<div class="col-lg-6 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">
						<p class="mb-3 text-larger fw-light">Hello, <strong class="fw-bold"><u>Enaisha</u></strong></p>
<!-- if  -->
						<% if (user.local.mentor) { %>
							<p>mentor</p>
						<% } %>
						<h2 class="display-4" style="font-weight: 800">Welcome Dropping Jewels Community.</h2>
						<div class="input-group input-group-lg mt-2 mb-4">
							<input id="searchinput" class="form-control rounded-start border-0" type="search" placeholder="Search Your Topics.." aria-label="Search">
							<button id="searchbutton" class="btn btn-light border-0" type="submit"><i class="icon-line-search"></i></button>
							<a  id="searchbutton" href="demo-forum-single.html" class="button button-large button-border rounded-1 fw-medium nott h-bg-alt ls0 ms-0"><i class="icon-line-align-left"></i>Browse All Topics</a>
						</div>
						</div>
						<div>
						
							
					</div>

				</div>
			</div>
			<div class="bg-alt py-5">
				<div class="container">
					<div class="d-flex">
				

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">

					<!-- Enaisha's Code START -->

						<h1>Your Profile</h1>
						<a href="/feed">Homework Feed</a>
						<a href="/logout" class="btn btn-default btn-sm">Logout</a>

			
						<h2>Ask a question:</h2>
						<p>Input a homework question. You can also add a picture of your problem if you want the mentors to see your problem too. </p>
					<% if (user.local.email) { %>
						<form action="/makePost" enctype="multipart/form-data" method="POST">
							<textarea type="text" name="caption" placeholder="your question" required></textarea>
							<input type="file" name="file-to-upload">
							<button type="submit">Ask</button>
						</form>
					<% } %>

					<div class="input-group input-group-lg mt-2 mb-4">
						<input id="searchinput" class="form-control rounded-start border-0" type="search" placeholder="Search Your Topics.." aria-label="Search">
						<button id="searchbutton" class="btn btn-light border-0" type="submit"><i class="icon-line-search"></i></button>
						<a  id="searchbutton" href="demo-forum-single.html" class="button button-large button-border rounded-1 fw-medium nott h-bg-alt ls0 ms-0"><i class="icon-line-align-left"></i>Browse All Topics</a>
					</div>
					<!-- Enaisha's Code END -->

				

					<div class="mw-md mx-auto">
						<ul class="list-unstyled mb-4">
							<li>
								<p>Questions you've asked so far:</p>
								<!-- This is what you would repeat with EJS START -->
								<% if (user.local.mentor) { %>
									<% for(var i=0; i<posts.length; i++) {%>
										<ul class="topic list-unstyled row mx-0 justify-content-between align-items-center">
											<li class="entry mb-0 col-sm-10">
												<!-- Title of Post-->
												<h3 class="mb-0"><a href="/post/<%= posts[i]._id %>"><%= posts[i]._id %></a></h3>
												<div class="entry-meta mt-1">
													<ul>
														<!-- Time of Post -->
														<li><a href="#">40 mins ago</a></li>
														<!-- Amount of Replies -->
														<li><a href="#">4 Replies</a></li>
														<!-- Caption -->
														<li><%= posts[i].caption %></li>
														<!-- Image -->
														<li><img src="<%= posts[i].img %>" alt=""></li>
														<!-- Status -->
														<li><button class="Delete" data-value="<%=posts[i]._id %>">Delete</button></li>
													</ul>
												</div>
											</li>
											<li class="col-sm-2">
												<div class="bbp-author">
													<a href="#"><img alt="User" src="demos/articles/images/authors/3.jpg"></a>
													<a href="#"><img alt="User" src="demos/articles/images/authors/2.jpg"></a>
													<a href="#"><img alt="User" src="demos/forum/images/user.png"></a>
												</div>
											</li>
										</ul>
										<% } %>
								<% } %>
								<% if (!user.local.mentor) { %>
									<% posts.filter(post => post.postedBy.toString() === user._id.toString() ).forEach(post => { %>
										<ul class="topic list-unstyled row mx-0 justify-content-between align-items-center">
											<li class="entry mb-0 col-sm-10">
												<!-- Title of Post-->
												<h3 class="mb-0"><a href="/post/<%= post._id %>"><%= post._id %></a></h3>
												<div class="entry-meta mt-1">
													<ul>
														<!-- Time of Post -->
														<!-- Amount of Replies -->
														Caption
														<li><%= post.caption %></li>
														<!-- Image -->
														<li><img src="<%= post.img %>" alt=""></li>
														<!-- Status -->
														<li><button class="Delete" data-value="<%=post._id %>">Delete</button></li>
													</ul>
												</div>
											</li>
											
										</ul>
										<% }) %>
								<% } %>
								<!-- This is what you would repeat with EJS END -->
							</li>
						</ul>

						
					</div>

				</div>

				
				
				</div>

				<div class="clear"></div>

			

			</div>
		</section><!-- #content end -->

		
		

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.min.js"></script>

	<!-- TinyMCE Plugin -->
	<script src="js/components/tinymce/tinymce.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>
	<script src="main.js"></script>

	<script>
		jQuery(document).ready( function(){

			$('input[type="file"]').change(function(e){
				var fileName = e.target.files[0].name;
				$('.custom-file-label').html(fileName);
			});

			tinymce.init({
				selector: '#post-message',
				menubar: false,
				setup: function(editor) {
					editor.on('change', function(e) {
						editor.save();
					});
				}
			});

			$(function(){
		      if(window.location.hash) {
		          var hash = window.location.hash;
		          $(hash).modal('toggle');
		      }
		  });
		});
	</script>

	</body>
	</html>
