<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />

	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="css/colors.php?color=F9BE79" type="text/css" />

	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<!-- Forum Demo Specific Stylesheet -->
	<link rel="stylesheet" href="demos/forum/forum.css" type="text/css" /> <!-- Forum Custom Css -->
	<link rel="stylesheet" href="demos/forum/css/fonts.css" type="text/css" /> <!-- Forum Custom Fonts -->
	<!-- / -->

	<!-- Document Title
	============================================= -->
	<title>Dropping Jewels</title>

</head>

<body class="stretched search-overlay">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix"></div>


		<!-- Header
		============================================= -->
		<header id="header" class="full-header header-size-md" data-mobile-sticky="true">
			<div id="header-wrap">
				<div class="container">
					<div class="header-row">

						<!-- Logo
						============================================= -->
						 <div id="logo"> 
							<a href="demo-forum.html" class="standard-logo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4tyLcBRFMzyFfRh_ORd0z9dS9pxWLyeMY4g&usqp=CAU" alt="Canvas Logo"></a>
							<h2>Dropping Jewels</h2>
						</div>	 
						<% if (user.local.mentor) { %>
							<p>mentor</p>
						<% } %>
						<div class="header-misc ms-0">
						
							<div class="input-group input-group-lg mt-2 mb-4">
								<input id="searchinput" class="form-control rounded-start border-0" type="search" placeholder="Search For Post" aria-label="Search">
								
							</div>

							<button id="searchbutton" class="button button-large button-border rounded-1 fw-medium nott h-bg-alt ls0 ms-0"><i class="icon-line-align-left"></i>Browse All Topics</a></button>

							<!-- Top Account
							============================================= -->
						
						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu">
							
							<ul class="menu-container">
                <li class="menu-item current"><a class="menu-link" href="/chat"><div>Join Chat</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/Feed">Feed</a>
								</ul>
								<li class="menu-item current"><a class="menu-link" href="/logout"><div></div>Logout</a></li>
							</ul>
						
							
								<!-- Top Search
								============================================= -->
							
	
								<!-- Top Account
								============================================= -->
									
								</div>
						</nav><!-- #primary-menu end -->

						

					</div>
				</div>
			</div>
			<!-- <div class="header-wrap-clone"></div> -->
			<header>

				<div class="container">
			
					<div class="profile">
			
						<div class="profile-image">
			
							<img src="https://64.media.tumblr.com/7af548bec8978ae108c977f3ff087b63/e26bf540d0ca96ef-28/s640x960/c24e5e99adb20da76a4bd82dbe415c932af68f17.jpg" alt="">
			
						</div>
			
						<div class="profile-user-settings">
							<h1 class="profile-user-name">Joan Clayton</h1>

							<button class="btn profile-edit-btn">Edit Profile</button>
						
						</div>
						<li><span class="profile-stat-count">164</span> posts</li>
						<p><span class="profile-real-name">Joan Clayton</span> originally from Fresno , Pursuing law career</p>
					</ul>
				</div>
				<div class="profile-bio">
					<p>Input a homework question. You can also add a picture of your problem if you want the mentors to see your problem too. </p>
					<% if (user.local.email) { %>
						<form action="/makePost" enctype="multipart/form-data" method="POST">
							<textarea type="text" name="caption" placeholder="your question" required></textarea>
							<input type="file" name="file-to-upload">
							<button type="submit">Ask</button>
						</form>
					<% } %>
				</div>
	
			</div>
			
		</header><!-- #header end -->
		
	
		<!-- Slider
		============================================= -->
	

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container">

					<!-- Enaisha's Code START -->

					<main>

						<div class="container">
					
							<div class="gallery">
					
								<div class="gallery-item" tabindex="0">
					
									<img src="https://images.unsplash.com/photo-1511765224389-37f0e77cf0eb?w=500&h=500&fit=crop" class="gallery-image" alt="">
					
					<div class="text">
						<ul class="post">
							<li>
								<p>Recent Post</p>
								<!-- This is what you would repeat with EJS START -->
								<% if (user.local.mentor) { %>
									<% for(var i=0; i<posts.length; i++) {%>
									
												<!-- Title of Post-->
												<h3 class="mb-0"><a href="/post/<%= posts[i]._id %>"><%= posts[i].userName
													%></a></h3>
												<div class="entry-meta mt-1">
													<ul>
														<li><%= posts[i].caption %></li						
														<li><button class="Delete" data-value="<%=posts[i]._id %>">Delete</button></li>
													</ul>
												</div>
											</li>
											<li class="col-sm-2">
												<div class="bbp-author">
												</div>
											</li>
										</ul>
										<% } %>
								<% } %>
								<% if (!user.local.mentor) { %>
									<% posts.filter(post => post.postedBy.toString() === user._id.toString() ).forEach(post => { %>
										<ul class="topic list-unstyled row mx-0 justify-content-between align-items-center">
											<li class="entry mb-0 col-sm-10">
												<!-- Title of Post-->
												<h3 class="mb-0"><a href="/post/<%= post._id %>"><%= post.userName
													%></a></h3>
												<div class="entry-meta mt-1">
													<ul>
														
														
														<li><%=post.caption %></li>
														<!-- Image -->
														<li><img src="<%= post.img %>" alt=""></li>
														<!-- Status -->
														<li><button class="Delete" data-value="<%=post._id %>">Delete</button></li>
													</ul>
												</div>
											</li>
											
										</ul>
										<% }) %>
								<% } %>
								<!-- This is what you would repeat with EJS END -->
							</li>
						</ul>

						
					</div>

				</div>

				
				
				</div>


			

			</div>
		</section><!-- #content end -->

		
		

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="js/jquery.js"></script>
	<script src="js/plugins.min.js"></script>

	<!-- TinyMCE Plugin -->
	<script src="js/components/tinymce/tinymce.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>
	<script src="main.js"></script>

	<script>
		jQuery(document).ready( function(){

			$('input[type="file"]').change(function(e){
				var fileName = e.target.files[0].name;
				$('.custom-file-label').html(fileName);
			});

			tinymce.init({
				selector: '#post-message',
				menubar: false,
				setup: function(editor) {
					editor.on('change', function(e) {
						editor.save();
					});
				}
			});

			$(function(){
		      if(window.location.hash) {
		          var hash = window.location.hash;
		          $(hash).modal('toggle');
		      }
		  });
		});
	</script>

	</body>
	</html>
